[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundule/powerline"]
	path = home/.vim/bundule/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
