[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
